<p>
<% Space.all.each do |space| %>
  <%= space.name %>
  <%= space.description %>
  <%= space.price_pn %>
  <%= space.date_from %>
  <%= space.date_to %>

  <% end %>
  
</p>

<form action='/listings/new' method='GET'>
  <input type='submit' name='Create space' value='Create space'>
</form>
